body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(135deg, #06121e, #0d2335);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 400px;
    background: rgba(255,255,255,0.07);
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,255,255,0.2);
    backdrop-filter: blur(10px);
}

h1 {
    margin-bottom: 20px;
    font-size: 1.6rem;
}

.password-box {
    display: flex;
    gap: 8px;
}

#passwordOutput {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #0a1a2b;
    color: #00eaff;
    font-size: 1rem;
}

#copyBtn {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #00eaff;
    color: #000;
    cursor: pointer;
    font-weight: bold;
}

.controls {
    margin-top: 20px;
    text-align: left;
}

.controls label {
    display: block;
    margin: 10px 0;
}

input[type="range"] {
    width: 100%;
}

.generate {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background: #00eaff;
    color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.generate:hover {
    transform: scale(1.03);
}
